.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

img{
    width: 6vh;
}

p{
    padding: 0 5px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}