li  a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.navLinks{
    display: flex;
    list-style: none;  
}

.navLinks li a{
    padding: 0 30px;
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: rgb(254,191,24, 1);
}

